.error {
	width: 100%;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	img {
		width: 100%;
		max-width: 300px;
	}

	h1 {
		font-size: 26px;
		color: var(--color-text);
		text-align: center;
		margin-top: 10px;
	}
	p {
		color: var(--color-text);
		opacity: 0.5;
		font-size: 18px;
		text-align: center;
	}
}
