.search {
	max-width: 500px;
	width: 100%;
	display: flex;
	align-items: center;
	background: var(--color-ui);
	box-shadow: var(--shadow);
	position: relative;
	border-radius: 6px;

	@media (max-width: 900px) {
		max-width: 450px;
	}

	@media (max-width: 700px) {
		max-width: 100%;
	}

	.icon {
		position: absolute;
		top: 18.5px;
		left: 27px;

		@media (max-width: 350px) {
			left: 23px;
		}

		svg {
			width: 20px;
			height: 23px;
			fill: none;
			opacity: 0.5;
			stroke: var(--color-text);
			stroke-miterlimit: 10;
			stroke-width: 32px;
		}

		fill {
			opacity: 0.5;
			fill: none;
			stroke: var(--color-text);
			stroke-linecap: round;
			stroke-miterlimit: 10;
			stroke-width: 32px;
		}
	}

	input {
		width: 100%;
		height: 60px;
		font-size: 16px;
		font-weight: 600;
		border-radius: 6px;
		background: none;
		border: none;
		padding-left: 70px;
		color: var(--color-text);

		&::placeholder {
			color: var(--color-text);
			opacity: 0.5;
		}

		@media (max-width: 350px) {
			padding-left: 60px;
			font-size: 15px;
		}
	}
}
